{% extends 'base_gerencia.html' %}

{% block main %}

<form class="form-inline mr-auto w-100 navbar-search" method="get" action="{%url 'gerencia:search' %}">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small"
            placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2" name="search">
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Buscar">
            </input>
        </div>
    </div>
</form>


<h2>Cadastre uma categoria</h2>
<form action="" method="post" class="">
    {% csrf_token %}
    <div>
        <label for="nome"></label>
        {{form.nome}}
    </div>
    <input type="submit">
</form>

<div>
    <h2>Categorias cadastradas</h2>
    {% for categoria in categorias %}
        <div>
            <p>{{categoria.nome}}</p>
            <a href="{% url 'gerencia:editar_categoria' categoria.id %}">editar categoria</a>
            <a href="{% url 'gerencia:excluir_categoria' categoria.id %}">excluir categoria</a>
        </div>
    {% endfor %}
</div>

<div class="mt-3">
    {% include 'components/pagination.html' with page_obj=categorias %}
 </div>

{%endblock%}

